body{
    background: rgb(240, 240, 240);
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100%;
    color: #f5fafe;
    display: flex;
    flex-wrap: wrap;
}

.cabecalho{
    display: flex;
    background: #f5fafe;
    font-family: 'Shizuru', cursive;
    font-weight: bolder;
    width: 100%;
    height: auto;
    padding: 1em;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px black;
    color: black;

}

.titulo-cabecalho{
   letter-spacing: .1em;
   font-size: 2em;
}

.main-box{
    background: linear-gradient(rgba(0, 0, 0, .96), rgba(0, 0, 0, 1)), url(https://raw.githubusercontent.com/Rafalesson/theTilografia/d460092ed29951017e6a09ad1b8c0f93a04e9949/img/favicon.svg);
    background-position: center;
    background-repeat: space;
    background-size: contain;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Courier Prime', monospace;
}

.box1{
   width: 100%; 
   height: auto;
   display: flex; 
   justify-content: space-evenly;
   flex-wrap: wrap;
}

.area-texto{
    width: 35%;
}

.area-campo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: auto 0;
}

.titulo-principal{
    margin: 1.5em auto;
    font-size: 1.5em;
    font-weight: bolder;
    width: 100%;
    text-align: center;
}

.texto-box1{
    width: 100%;
    height: auto;
    line-height: 1.1em;
    letter-spacing: 1px;
    text-align: justify;
    margin: 0 auto;
    background: rgba(255, 255, 255, .1);
    padding: 1.5em;
    border-radius: 10px;
    font-size: 1.1em;
}

.informacoes1{
    margin: 2em auto;
}

.l1{
    margin: 2em auto 0 auto;
}

.segundos{
    background: rgba(255, 255, 255);
    padding: 7px 15px;
    border-radius: 10px;
    font-weight: bolder;
    color: black;
}

#qtdPalavras{
    background: rgba(255, 255, 255, .1);
    padding: 7px 15px;
    border-radius: 10px;
    font-weight: bolder;
    color: #f5fafe;
}

.campo-digitacao{
    width: 100%;
    height: 25vh;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 1px 1px 4px black;
    margin: 1em auto;
    outline: none;
    color: black;
}

.campo-digitacao:focus{
    background: rgba(255, 255, 255, .1);
    outline: none;
    font-weight: bold;
    color: #f5fafe;
}



.box2{
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;


}

.informacoes2{
    display: flex;
    flex-direction: column;   
    margin: 0 auto;
    color: #f5fafe;
}

.informacoes2 li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
    
}

.numPalavras, .palavras{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bolder;
    box-shadow: 1px 1px 4px black;
    background: rgba(255, 255, 255, .1);
    border-radius: 10px;
    padding: 2px 10px; 
    width: 2em;
    height: 2em;
    margin: auto 1em;
}

.secao-info{
    display: flex;
    align-items: center;
    width: 60%;
    height: auto;
}

.placar{
    display: flex;
    width: 40%;
    height: auto;
    flex-wrap: wrap;
    line-height: 2em;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 10px;
    padding: 1.5em;
    color: #f5fafe;
    margin: 2em 8em;
}

.placar table{
    width: 100%;
    text-align: center;
    border: 1px solid rgba(245, 250, 254, .1);
    
}

.placar thead{
    border-bottom: 1px solid rgba(245, 250, 254, .1);
}

.titulo-h3{
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}



footer{
    display: flex;
    font-family: 'Shizuru', cursive;
    width: 100%;
    height: auto;
    padding: 15px;
    background: #f5fafe;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 3px 5px black;
    color: black;
}

/*classes adicionais que chamo no js*/

.borda-verde{
    border: 2px solid springgreen;
}

.borda-vermelha{
    border: 2px solid red;
}

